/**
  Large Tab icon
  icon.png = 40X40px
  [menu name] = .info => features[menu][] = "group_folder"
  #features-menu li a.icon-[menu name] span.icon
*/
#features-menu li a.icon-group_folder span.icon { 
  background: url(icon.png) no-repeat; 
}

/**
  Create content, small icon
  icon-small.png = 20X20px
  [project name] = .info => project = "oa_filesystem"
  span.spaces-feature.feature-[project name]
*/
span.spaces-feature.feature-oa_filesystem {
  background: url(icon-small.png) no-repeat;
}


img.filesystem-folder {
  padding-bottom: 4px;
  vertical-align: middle;
  margin-right: 5px;
}
img.filesystem-file {
  padding-bottom: 4px;
  vertical-align: middle;
  margin-right: 3px;
}